@import './../../variables.scss';

.movie-card {
  border-radius: 8px;
  border: 2px solid $near-black;
  height: 240px;
  width: 696px;
  background-color: $light-grey;
  margin: 20px auto;
}

.left-side {
 display: inline-block;
 width: 25%;
 height: 100%;
}

.poster {
  height: 208px;
  width: 140px;
  margin: 16px;
  border-radius: 8px;
}

.right-side {
  display: inline-block;
  width: 70%;
  height: 100%;
  vertical-align: top;
  margin: 23px 0;
}

.title {
  font-size: 24px;
  font-weight: bold;
  height: 18px;
  line-height: 18px;
  width: 180px;
}

.rated,
.runtime,
.released {
  display: inline-block;
}

.rated {
  border: 1px solid $dark-grey;
  border-radius: 4px;
  height: 22px;
  width: 58px;
  margin-right: 20px;
  padding: 2px;
  font-family: "Courier", serif;
}

.runtime {
  color: $near-black;
  padding-right: 50%;
  font-family: "ArialMT", "Open Sans", sans-serif;
  font-size: 14px;
  height: 19px;
  line-height: 18px;
  width: 53px;
}

.released {
  color: $near-black;
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  height: 18px;
  line-height: 18px;
  text-align: right;
}

.plot {
  color: $near-black;
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  height: 57px;
  width: 498px;
}

.button-wrapper {
  text-align: right;
}

button {
  background-color:$gold;
  color:$white;
  border:none;
  font-size: 1.2em;
  font-weight: 700;
  border-radius: 4px;
  height: 40px;
  width: 193px;
}
