@import './../variables.scss';

.filter-button-container {
  text-align: right;
  width: 696px;
  margin: 20px auto;
}

.filter-button {
  background: $lightest-grey;
  border-radius: 0px 3px 3px 0px;
  border: 1px solid $lighter-grey;
  height: 36px;
  width: 92px;
  font-family: "WhitneyHTF-SemiBold", "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  &.selected {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    background-color: $blue;
    color: $white;
  }
}