@use './../variables.scss';

h1{
  color: white;
  text-align: center;
  margin-bottom: 56px;
}

.filter-button-container {
  text-align: right;
  width: 696px;
  margin: 20px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.filter-button {
  background:variables.$lightest-grey;
  border-radius: 3px 3px;
  border: 1px solid variables.$lighter-grey;
  height: 36px;
  width: 92px;
  font-family: "WhitneyHTF-SemiBold", "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  &.selected {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    background-color: variables.$gold;
    color: variables.$white;
    border: 1px solid variables.$gold;
  }
}